{
  "openapi": "3.0.3",
  "info": {
    "title": "TruGen Developer Platform API",
    "version": "1.0.0",
    "description": "OpenAPI specification for MCP endpoint"
  },
  "servers": [
    {
      "url": "https://api.trugen.ai/v1"
    }
  ],
  "paths": {
    "/ext/mcp": {
      "get": {
        "summary": "Get MCP details",
        "description": "Fetches a list of available MCP configurations. Requires `x-api-key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
                      },
                      "name": {
                        "type": "string",
                        "example": "Livekit Docs"
                      },
                      "description": {
                        "type": "string",
                        "example": "MCP server to get livekit info"
                      },
                      "type": {
                        "type": "string",
                        "example": "shttp/sse"
                      },
                      "request_config": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "example": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                          },
                          "headers": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "User-Agent": "Trugen Avatar",
                              "Accept": "application/json"
                            }
                          }
                        },
                        "required": ["url"]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "type",
                      "request_config",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve MCP details"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create MCP",
        "description": "Create a new MCP server configuration.",
        "operationId": "createMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Livekit Docs"
                  },
                  "description": {
                    "type": "string",
                    "example": "MCP server to get livekit info"
                  },
                  "type": {
                    "type": "string",
                    "example": "shttp/sse"
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://www.example.com/in"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    },
                    "required": ["url"]
                  }
                },
                "required": ["name", "description", "type", "request_config"]
              },
              "example": {
                "name": "Livekit Docs",
                "description": "MCP server to get livekit info",
                "type": "shttp/sse",
                "request_config": {
                  "url": "https://www.example.com/in",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          }
        }
      }
    },
    "/ext/mcp/{id}": {
      "delete": {
        "summary": "Delete MCP",
        "description": "Deletes an MCP details by its ID. Requires `x-api-key` authentication.",
        "operationId": "deleteMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP deleted successfully (no content returned)"
          },
          "400": {
            "description": "Invalid MCP ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update MCP",
        "description": "Updates an existing MCP configuration by its ID. Requires `x-api-key` authentication.",
        "operationId": "updateMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Livekit Docs1"
                  },
                  "description": {
                    "type": "string",
                    "example": "MCP server to get livekit info1"
                  },
                  "type": {
                    "type": "string",
                    "example": "shttp/sse"
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://www.example.com/information"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    },
                    "required": ["url"]
                  }
                },
                "required": ["name", "description", "type", "request_config"]
              },
              "example": {
                "name": "Livekit Docs1",
                "description": "MCP server to get livekit info1",
                "type": "shttp/sse",
                "request_config": {
                  "url": "https://www.example.com/information",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "dcf04568-6bf5-40cf-bd6f-d68e4cb5b216"
                    },
                    "name": {
                      "type": "string",
                      "example": "Livekit Docs1"
                    },
                    "description": {
                      "type": "string",
                      "example": "MCP server to get livekit info1"
                    },
                    "type": {
                      "type": "string",
                      "example": "shttp/sse"
                    },
                    "request_config": {
                      "type": "object"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-05T12:30:45.123Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "request_config",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to update MCP details"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get MCP by ID",
        "description": "Fetch a single MCP configuration by its unique ID. Requires `x-api-key` authentication.",
        "operationId": "getMCPById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP object successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "dcf04568-6bf5-40cf-bd6f-d68e4cb5b216"
                    },
                    "name": {
                      "type": "string",
                      "example": "Livekit Docs"
                    },
                    "description": {
                      "type": "string",
                      "example": "MCP server to get livekit info"
                    },
                    "type": {
                      "type": "string",
                      "example": "shttp/sse"
                    },
                    "request_config": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "example": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                        },
                        "headers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "User-Agent": "Trugen Avatar",
                            "Accept": "application/json"
                          }
                        }
                      },
                      "required": ["url"]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "request_config",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve MCP details"
                }
              }
            }
          }
        }
      }
    },
    "/ext/tool": {
      "get": {
        "summary": "Get all Tool details",
        "description": "Fetches all tool details available in the system. Requires `x-api-key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tool details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                      },
                      "type": {
                        "type": "string",
                        "example": "tool.api"
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "function"
                          },
                          "name": {
                            "type": "string",
                            "example": "start_cloud_browser_session"
                          },
                          "description": {
                            "type": "string",
                            "example": "Starts the dashboard page with logged in session."
                          },
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "object"
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "required": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "request_config": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string",
                            "example": "GET"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.example.com/information"
                          },
                          "headers": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "Accept": "application/json",
                              "User-Agent": "Trugen Avatar"
                            }
                          }
                        }
                      },
                      "event_messages": {
                        "type": "object",
                        "properties": {
                          "on_start": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            }
                          },
                          "on_success": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            }
                          },
                          "on_delay": {
                            "type": "object",
                            "properties": {
                              "delay": {
                                "type": "integer"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          },
                          "on_error": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      }
                    },
                    "required": [
                      "id",
                      "type",
                      "schema",
                      "request_config",
                      "event_messages",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Tool details",
        "description": "Creates a new tool details for use within the Trugen AI system.",
        "operationId": "createTool",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "function"
                      },
                      "name": {
                        "type": "string",
                        "example": "start_cloud_browser_session"
                      },
                      "description": {
                        "type": "string",
                        "example": "Starts the dashboard page with logged in session."
                      },
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "object"
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "required": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": ["type", "name", "description", "parameters"]
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.example.com/information"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["method", "url"]
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_success": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "type",
                  "schema",
                  "request_config",
                  "event_messages"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool details created successfully"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/ext/tool/{id}": {
      "delete": {
        "summary": "Delete Tool details",
        "description": "Deletes a tool details by its unique ID.",
        "operationId": "deleteToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to delete",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool details deleted successfully"
                    }
                  },
                  "required": ["id", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Tool details",
        "description": "Updates an existing client-side tool using its unique ID.",
        "operationId": "updateToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "tool.client"
                  },
                  "schema": {
                    "type": "object",
                    "description": "Client-side function schema",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "function"
                      },
                      "name": {
                        "type": "string",
                        "example": "start_cloud_browser_session1"
                      },
                      "description": {
                        "type": "string",
                        "example": "Starts the dashboard page with logged in session1."
                      },
                      "parameters": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "object"
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "required": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": ["type", "name", "parameters"]
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.example.com/information"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_success": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "type",
                  "schema",
                  "request_config",
                  "event_messages"
                ]
              },
              "example": {
                "type": "tool.client",
                "schema": {
                  "type": "function",
                  "name": "start_cloud_browser_session1",
                  "description": "Starts the dashboard page with logged in session1.",
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "URL to navigate to"
                      }
                    },
                    "required": ["url"]
                  }
                },
                "request_config": {
                  "method": "GET",
                  "url": "https://www.example.com/information",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Getting stock price data..."
                  },
                  "on_success": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool details updated successfully"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tool not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Get Tool by ID",
        "description": "Fetches a specific tool details using its unique ID. Requires `x-api-key` authentication.",
        "operationId": "getToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
                    },
                    "type": {
                      "type": "string",
                      "example": "tool.client"
                    },
                    "schema": {
                      "type": "object",
                      "description": "Function schema definition",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "function"
                        },
                        "name": {
                          "type": "string",
                          "example": "start_cloud_browser_session1"
                        },
                        "description": {
                          "type": "string",
                          "example": "Starts the dashboard page with logged in session1."
                        },
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "object"
                            },
                            "properties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "required": ["type", "name", "parameters"]
                    },
                    "request_config": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://www.example.com/information"
                        },
                        "headers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "User-Agent": "Trugen Avatar",
                            "Accept": "application/json"
                          }
                        }
                      }
                    },
                    "event_messages": {
                      "type": "object",
                      "properties": {
                        "on_start": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "on_success": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "on_delay": {
                          "type": "object",
                          "properties": {
                            "delay": {
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "on_error": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "schema",
                    "request_config",
                    "event_messages",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "404": {
            "description": "Tool not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/ext/template": {
      "post": {
        "summary": "Create a new Template",
        "description": "Creates a new template.",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "description": "Name of the template",
                    "example": "HR Assistant"
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "description": "System prompt text used by the template",
                    "example": "You are a helpful HR AI Assistant."
                  },
                  "config": {
                    "type": "object",
                    "description": "Settings and configuration for the template",
                    "properties": {
                      "maxCallDuration": {
                        "type": "integer",
                        "description": "Maximum allowed call duration in seconds",
                        "example": 5
                      },
                      "conversationalContext": {
                        "type": "string",
                        "description": "Context for maintaining conversation across calls",
                        "example": ""
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "description": "List of knowledge bases attached to this agent.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Knowledge base identifier.",
                          "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the knowledge base.",
                          "example": "Product Support Articles"
                        },
                        "description": {
                          "type": "string",
                          "description": "Short summary of the knowledge base content.",
                          "example": "Contains FAQs and troubleshooting guides for product lines."
                        }
                      }
                    }
                  },
                  "record": {
                    "type": "boolean",
                    "description": "Whether the call should be recorded",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique ID of the newly created template.",
                      "example": "d65a4f92-44b1-4fe6-b2ac-a1cb66366ddc"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve template details"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/ext/templates": {
      "get": {
        "summary": "Retrieve all Template details",
        "description": "Fetches a list of all templates.",
        "operationId": "getAllTemplates",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the template",
                        "example": "ff152cd9-efb6-4367-ae34-917f7c735f1d"
                      },
                      "template_name": {
                        "type": "string",
                        "description": "Name of the template",
                        "example": "Default Calling Template"
                      },
                      "template_system_prompt": {
                        "type": "string",
                        "description": "System prompt text used by the template",
                        "example": "You are a helpful AI assistant."
                      },
                      "config": {
                        "type": "object",
                        "description": "Settings and configuration for the template",
                        "properties": {
                          "maxCallDuration": {
                            "type": "integer",
                            "description": "Maximum allowed call duration in seconds",
                            "example": 900
                          },
                          "conversationalContext": {
                            "type": "string",
                            "description": "Context for maintaining conversation across calls",
                            "example": ""
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "description": "List of knowledge bases attached to this agent.",
                        "nullable": true,
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Knowledge base identifier.",
                              "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the knowledge base.",
                              "example": "Product Support Articles"
                            },
                            "description": {
                              "type": "string",
                              "description": "Short summary of the knowledge base content.",
                              "example": "Contains FAQs and troubleshooting guides for product lines."
                            }
                          }
                        }
                      },
                      "record": {
                        "type": "boolean",
                        "description": "Whether the call should be recorded",
                        "example": true
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "Whether the record is be active or not",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the template was created",
                        "example": "2025-12-03T10:15:30.000Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the template was last updated",
                        "example": "2025-12-03T12:00:00.000Z"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "config": {
                      "maxCallDuration": 5,
                      "conversationalContext": "The following is a conversation with a user named `Lisa`."
                    },
                    "created_at": "2025-10-16T15:09:53.876051Z",
                    "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                    "knowledge_base": null,
                    "record": true,
                    "template_name": "HR Assistant",
                    "template_system_prompt": "You are a helpful AI assistant.",
                    "updated_at": "2025-10-16T15:09:53.876051Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to create template details"
                }
              }
            }
          }
        }
      }
    },
    "/ext/template/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the template"
        }
      ],
      "get": {
        "summary": "Retrieve a Template details by ID",
        "operationId": "getTemplateById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the template",
                      "example": "ff152cd9-efb6-4367-ae34-917f7c735f1d"
                    },
                    "template_name": {
                      "type": "string",
                      "description": "Name of the template",
                      "example": "Default Calling Template"
                    },
                    "template_system_prompt": {
                      "type": "string",
                      "description": "System prompt text used by the template",
                      "example": "You are a helpful AI assistant."
                    },
                    "config": {
                      "type": "object",
                      "description": "Settings and configuration for the template",
                      "properties": {
                        "maxCallDuration": {
                          "type": "integer",
                          "description": "Maximum allowed call duration in seconds",
                          "example": 900
                        },
                        "conversationalContext": {
                          "type": "string",
                          "description": "Context for maintaining conversation across calls",
                          "example": ""
                        }
                      }
                    },
                    "record": {
                      "type": "boolean",
                      "description": "Whether the call should be recorded",
                      "example": true
                    },
                    "knowledge_base": {
                      "type": "array",
                      "description": "List of knowledge bases attached to this agent.",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Knowledge base identifier.",
                            "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the knowledge base.",
                            "example": "Product Support Articles"
                          },
                          "description": {
                            "type": "string",
                            "description": "Short summary of the knowledge base content.",
                            "example": "Contains FAQs and troubleshooting guides for product lines."
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the template was created",
                      "example": "2025-12-03T10:15:30.000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the template was last updated",
                      "example": "2025-12-03T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing Template",
        "description": "Updates the details of a specific template by ID.",
        "operationId": "updateTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "description": "Name of the template",
                    "example": "Default Calling Template"
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "description": "System prompt text used by the template",
                    "example": "You are a helpful AI assistant."
                  },
                  "config": {
                    "type": "object",
                    "description": "Settings and configuration for the template",
                    "properties": {
                      "maxCallDuration": {
                        "type": "integer",
                        "description": "Maximum allowed call duration in seconds",
                        "example": 900
                      },
                      "conversationalContext": {
                        "type": "string",
                        "description": "Context for maintaining conversation across calls",
                        "example": ""
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "description": "List of knowledge bases attached to this agent.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Knowledge base identifier.",
                          "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the knowledge base.",
                          "example": "Product Support Articles"
                        },
                        "description": {
                          "type": "string",
                          "description": "Short summary of the knowledge base content.",
                          "example": "Contains FAQs and troubleshooting guides for product lines."
                        }
                      }
                    }
                  },
                  "record": {
                    "type": "boolean",
                    "description": "Whether the call should be recorded",
                    "example": true
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Whether the record should be active or not",
                    "example": true
                  }
                }
              },
              "example": {
                "template_name": "Updated Name",
                "template_system_prompt": "Updated system prompt",
                "config": {
                  "conversationalContext": "Updated conversational context",
                  "maxCallDuration": 2
                },
                "knowledge_base": null,
                "record": true,
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the updated template",
                      "example": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template details updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve template details"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Template",
        "operationId": "deleteTemplate",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template details deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "UUID of the deleted Template",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                  "message": "Template details deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          }
        }
      }
    },
    "/ext/conversation": {
      "get": {
        "summary": "Retrieve all Conversations",
        "description": "Retrieve all Conversations with all fields and optional pagination/filtering.",
        "operationId": "getAllConversations",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The number of conversations to skip before starting to return results.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "description": "The number of conversations to return per page.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search criteria to filter conversations by ID, user name, agent name, or status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "Filter conversations created on or after this date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "Filter conversations created before this date plus one day (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by conversation or agent type.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations retrieved successfully",
            "headers": {
              "X-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of conversations matching the query."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the conversation",
                        "example": "6457541c-6251-40ed-a672-52d166c2c565"
                      },
                      "agent_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Agent identifier",
                        "example": "6d142a7c-a6ef-4616-90bb-0124fc83bce7"
                      },
                      "agent_name": {
                        "type": "string",
                        "description": "Name of the agent",
                        "example": "Customer Support Agent"
                      },
                      "context": {
                        "type": "string",
                        "description": "Serialized conversational context",
                        "example": "{\"text\":\"\"}"
                      },
                      "meta_data": {
                        "type": "object",
                        "description": "Custom metadata associated with the conversation",
                        "example": {}
                      },
                      "join_link": {
                        "type": "string",
                        "description": "LiveKit room join link",
                        "example": "https://meet.trugen.ai/join/..."
                      },
                      "status": {
                        "type": "string",
                        "enum": ["STARTED", "IN_PROGRESS", "ENDED"],
                        "description": "Current status of the conversation",
                        "example": "ENDED"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "Whether the conversation session is active",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the conversation was created",
                        "example": "2025-12-18T17:54:02.153319Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the conversation was last updated",
                        "example": "2025-12-18T17:59:29.720601Z"
                      },
                      "job_id": {
                        "type": "string",
                        "nullable": true,
                        "description": "Background processing job ID, if any",
                        "example": null
                      },
                      "feedback": {
                        "type": "string",
                        "nullable": true,
                        "description": "User feedback description, if any",
                        "example": "Great conversation"
                      },
                      "rating": {
                        "type": "integer",
                        "nullable": true,
                        "description": "User rating, if any",
                        "example": 5
                      },
                      "usage_status": {
                        "type": "string",
                        "description": "Status of usage tracking",
                        "example": "completed"
                      },
                      "usage_json": {
                        "type": "string",
                        "description": "Serialized usage metrics",
                        "example": "{}"
                      },
                      "snippets": {
                        "type": "object",
                        "description": "Context snippets used in the conversation",
                        "example": {}
                      },
                      "user_name": {
                        "type": "string",
                        "description": "Name of the user in the conversation",
                        "example": "Test User"
                      },
                      "user_id": {
                        "type": "string",
                        "description": "Identifier of the user",
                        "example": "test@test.com"
                      },
                      "chat_history": {
                        "type": "object",
                        "description": "Complete chat history of the conversation",
                        "example": {}
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of the conversation",
                        "example": "etev"
                      },
                      "avatar_id": {
                        "type": "string",
                        "description": "Identifier of the avatar",
                        "example": "665a1170"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve conversation details"
                }
              }
            }
          }
        }
      }
    },
    "/ext/conversation/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the conversation"
        }
      ],
      "get": {
        "summary": "Retrieve Conversation details by ID",
        "operationId": "getAgentSessionById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the conversation",
                      "example": "6457541c-6251-40ed-a672-52d166c2c565"
                    },
                    "agent_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Agent identifier",
                      "example": "6d142a7c-a6ef-4616-90bb-0124fc83bce7"
                    },
                    "agent_name": {
                      "type": "string",
                      "description": "Name of the agent",
                      "example": "Test Agent"
                    },
                    "avatar_id": {
                      "type": "string",
                      "description": "Avatar identifier used for the conversation",
                      "example": "665a1170"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "End user identifier",
                      "example": "test@test.com"
                    },
                    "user_name": {
                      "type": "string",
                      "description": "End user name",
                      "example": "Test User"
                    },
                    "context": {
                      "type": "string",
                      "description": "Serialized conversational context",
                      "example": "{\"text\":\"\"}"
                    },
                    "status": {
                      "type": "string",
                      "description": "Session status",
                      "enum": ["STARTED", "IN_PROGRESS", "ENDED"],
                      "example": "ENDED"
                    },
                    "is_recorded": {
                      "type": "boolean",
                      "description": "Whether the session was recorded",
                      "example": false
                    },
                    "recording_url": {
                      "type": "string",
                      "description": "Recording playback URL",
                      "example": ""
                    },
                    "transcript": {
                      "type": "array",
                      "description": "Conversation transcript",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Message timestamp",
                            "example": "2025-12-18T17:54:20.412417Z"
                          },
                          "role": {
                            "type": "string",
                            "description": "Message sender role",
                            "enum": ["user", "assistant"],
                            "example": "assistant"
                          },
                          "content": {
                            "type": "string",
                            "description": "Message content",
                            "example": "Hello, how can I help you?"
                          },
                          "conversation_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Conversation identifier",
                            "example": "6457541c-6251-40ed-a672-52d166c2c565"
                          },
                          "message_timestamp": {
                            "type": "integer",
                            "description": "Offset timestamp (seconds)",
                            "example": 2
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Session creation timestamp",
                      "example": "2025-12-18T17:54:02.153319Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Last update timestamp",
                      "example": "2025-12-18T17:59:29.720601Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Conversation not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ext/agent": {
      "get": {
        "summary": "Retrieve all Agents",
        "description": "Fetches a list of all your agents, including associated avatars, knowledge bases, and callback settings.",
        "operationId": "getAllAgents",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The number of agents to skip before starting to return results.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "description": "The number of agents to return per page.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search criteria to filter agents by name or ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents retrieved successfully",
            "headers": {
              "X-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of agents matching the query."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the agent.",
                        "example": "b63c2a53-266b-4b43-a71b-7ea8b5e2e916"
                      },
                      "agent_name": {
                        "type": "string",
                        "description": "Display name of the agent.",
                        "example": "Customer Support Agent"
                      },
                      "agent_system_prompt": {
                        "type": "string",
                        "description": "Foundational system instruction used by this agent.",
                        "example": "You are a helpful AI assistant that handles customer service inquiries."
                      },
                      "avatars": {
                        "type": "array",
                        "description": "List of avatars associated with this agent.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "avatar_key_id": {
                              "type": "string",
                              "description": "Avatar identifier key.",
                              "example": "avatar_001"
                            },
                            "persona_name": {
                              "type": "string",
                              "description": "Display name for the avatar persona.",
                              "example": "Sofia - Friendly Support"
                            },
                            "persona_prompt": {
                              "type": "string",
                              "description": "Behavioral prompt for the avatar interaction style.",
                              "example": "Speak in a warm, engaging tone and provide clear answers."
                            },
                            "config": {
                              "type": "object",
                              "description": "Configuration for avatar behavior and runtime settings.",
                              "properties": {
                                "llm": {
                                  "type": "object",
                                  "description": "Large Language Model settings used by the avatar.",
                                  "properties": {
                                    "model": {
                                      "type": "string",
                                      "description": "Identifier of the LLM model.",
                                      "example": "meta-llama/llama-4-maverick-17b-128e-instruct"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "Provider used for LLM inference.",
                                      "example": "groq"
                                    }
                                  }
                                },
                                "stt": {
                                  "type": "object",
                                  "description": "Speech-to-Text model configuration.",
                                  "properties": {
                                    "model": {
                                      "type": "string",
                                      "description": "Speech recognition model identifier.",
                                      "example": "flux-general-en"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "STT provider service name.",
                                      "example": "deepgram"
                                    },
                                    "min_endpointing_delay": {
                                      "type": "number",
                                      "description": "Minimum endpointing delay in seconds.",
                                      "example": 0.3
                                    },
                                    "max_endpointing_delay": {
                                      "type": "number",
                                      "description": "Maximum endpointing delay in seconds.",
                                      "example": 0.4
                                    }
                                  }
                                },
                                "tts": {
                                  "type": "object",
                                  "description": "Text-to-Speech generation configuration.",
                                  "properties": {
                                    "model_id": {
                                      "type": "string",
                                      "description": "Voice synthesis model identifier.",
                                      "example": "eleven_turbo_v2_5"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "TTS provider service name.",
                                      "example": "elevenlabs"
                                    },
                                    "voice_id": {
                                      "type": "string",
                                      "description": "Voice ID used to synthesize speech.",
[...]
